# Configuracion del Servidor
PORT=3000

# Base de Datos (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=reservas_db

# Seguridad (JWT)
JWT_SECRET=coloca_aqui_un_secreto_largo_y_seguro

# Configuracion del Frontend (URL de la API para produccion)
VITE_API_URL=http://localhost:3000/api