# Configuración del Servidor
PORT=3000

# Base de Datos (MySQL)
DB_HOST=localhost
DB_USER=usuario_ejemplo
DB_PASSWORD=password_ejemplo
DB_NAME=reservas_db

# Seguridad
JWT_SECRET=tu_secreto_super_seguro_ejemplo

# Configuración del Frontend (URL de la API)
VITE_API_URL=http://localhost:3000/api